rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Geliştirme ortamında tüm okuma/yazma işlemlerine izin ver
    match /{document=**} {
      allow read, write: if true;
    }
  }
}